.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

public/uploads/*
!public/uploads/index.html
!public/index.html

/vendor
/node_modules/